<div class="sidebar">
    <div class="sidebar-images">
        <a href="/Product/Index/"> <img src="/Img/images.jpg" alt="bakınız" class="sidebar-image" /></a>
        <br />
       <a href="/Product/Index/">  <img src="/Img/imagess.jpg" alt="bakınız" class="sidebar-image" /></a>
       <br />
      <a href="/Product/Index/">  <img src="/Img/indirr.jpg" alt="bakınız" class="sidebar-image" /></a>
    </div>
</div>
<br />
 @* <div class="main-content">
    <p>Bu fırsatı kaçırma! Şimdi sepete ekle ve avantajlı fiyatlardan yararlan!</p>
</div>
 *@
 

<style>
    /* Sidebar stil */
    .sidebar {
        height: calc(100vh - 20px); 
        width: 150px;
        position: fixed; 
        top: 100px; 
        bottom: 50px;
        left: 0;
        background-color: rgba(245, 245, 220, 1);
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        flex-direction: column;
        padding: 10px; 
    }


    .sidebar-images {
        display: flex;
        flex-direction: column;
        gap: 10px; 
        justify-content: flex-start; 
        width: 100%;
        transform: scale(1.05);
    }

    .sidebar-image {
        width: 100px; 
        height: 100px; 
        object-fit: cover; 
        border-radius: 5px; 
        transition: transform 0.3s ease-in-out; 
    }

        .sidebar-image:hover {
            transform: scale(1.8); /*  büyütme */
        }


    /* .main-content {
        max-width: 120px; 
        margin-left: 0;
        margin-right: auto; 
        text-align: left; 
        padding: 5px;
        word-wrap: break-word;
        display: block;
        position: relative; 
        z-index: 10;
        font-family:'Times New Roman', Times, serif;
        font-style: italic; 
        color: navy; 
    }
 */

</style>

