@model EntityLayer.Concrete.Category

@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<form method="post">
    @Html.Label("kategori ID")
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
    <br />
    @Html.Label("Kategori adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    <br />
    
    <button class="btn btn-info">Güncelle</button>
</form>

