
@{
    Layout = null;
}

<!DOCTYPE html>

<head>
    <partial name="~/Views/Partial/Partial_Header.cshtml" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  
   
    <div class="container">
      <div>  <partial name="~/Views/Partial/PartialTable.cshtml" /></div>
        @RenderBody()
    </div>
    <partial name="~/Views/Partial/Partial_Footer.cshtml" />
    <partial name="~/Views/Partial/Partial_Sidebar.cshtml" />
</body>


