@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<p>Bize ulaşmak için:</p>
<h1>@ViewData["Email"]</h1>
<p> Adres:xxxx</p>

<style>
    p {
        font-style: italic;
        text-align: justify;
        color: rosybrown;
    }
</style>


